<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination per section</title>

    <!-- Basic style -->
    <style>
        .img-container {
            margin: 20px auto;
            width: 40%;
        }

        .btn-container {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .btn {
            outline: none;
            padding: 12px;
            border: none;
            background-color: rgb(25, 121, 211);
            border-radius: 8px;
            color: white;
            cursor: pointer;
        }

        .form-group {
            display: none;
        }

        .active {
            display: block;
        }
    </style>


</head>

<body>
    <form id="form1" name="job_application" method="post" action="/form" onsubmit="return validateForm()"
        class="form-group active">
        <fieldset>
            <legend><b>Basic Details</b></legend>
            <label for="fname">First Name :</label>
            <input type="text" name="fname">
            <span id="alertfname" style="display: none; color: red;">First Name is </span>
            <br><br>
            <label for="lname">Last name :</label>
            <input type="text" name="lname">
            <span id="alertlname" style="display: none; color: red;">Last Name is </span>
            <br><br>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email">
            <span id="alertemail" style="display: none; color: red;">Email is </span>
            <br><br>
            <label for="Address1">Address1 :</label>
            <input type="text" id="Address1" name="address1">
            <span id="alertadd1" style="display: none; color: red;">Address is </span>
            <br><br>
            <label for="Address2">Address2 :</label>
            <input type="text" id="Address2" name="address2">
            <br>
            <p>Gender :
                <input type="radio" name="gender" id="male">
                <label for="Male">Male</label>
                <input type="radio" name="gender" id="female">
                <label for="female">Female</label>
                <span id="alertgender" style="display: none; color: red;">Gender is </span>
                <br><br>
                <label for="city">City :</label>
                <select name="city" id="city">
                    <option value="select_city">
                        Select city name</option>
                    <option value="Ahmedabad" id="Ahmedabad">Ahmedabad
                    </option>
                    <option value="Surat" id="Surat">Surat
                    </option>
                    <option value="Rajkot" id="Rajkot">Rajkot</option>
                    <option value="Vadodara" id="Vadodara">Vadodara
                    </option>
                    <option value="Mumbai" id="Mumbai">Mumbai</option>
                    <option value="Pune" id="Pune">Pune
                    </option>
                    <option value="Bandra" id="Bandra">Bandra</option>
                    <span id="alertcity" style="display: none; color: red;">City is </span>
                </select>

                <br><br>
                <label for="State">State :</label>
                <select name="state" id="State">
                    <option value="select_state">
                        Select State name</option>
                    <option value="Gujarat">Gujarat
                    </option>
                    <option value="Maharastra">Maharastra</option>
                </select><br><br>
                <label for="birthday">Birthday :</label>
                <input type="text" id="birthday" name="bday" placeholder="yyyy/mm/dd">
                <span id="alertbday" style="display: none; color: red;">Birthdate is </span>
                <br><br>
                <label for="zip code">Zip Code :</label>
                <input type="text" id="Zip Code" name="zipcode">
                <span id="alertzip" style="display: none; color: red;">Zip Code </span>
                <br><br>
                <label for="Relationship Status">Relationship Status :</label>
                <select name="rstatus" id="Relationship Status">
                    <option value="marital_status">Select Relationship Status
                    </option>
                    <option value="Single">Single
                    </option>
                    <option value="Married">Married
                    </option>
                </select>
                <!-- <input type="submit" value="Submit">
                        <input type="button" value="Update" id="update"> -->
        </fieldset>
        <br>

        <input type="button" value="Next" class="btn" onclick="showForm(2)">

    </form>

    <form id="form2" method="post" name="application" action="/form" onsubmit="return validate()" class="form-group">

        <fieldset>

            <legend><b>Education Details</b></legend>
            <h5>SSC Result</h5>
            <label for="Name of Board">Name of Board :</label>
            <input type="text" id="Name of Board" name="board[]">
            <span id="alertboardssc" style="display: none; color: red;">Board name </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Passing Year">Passing Year :</label>
            <input type="text" id="Passing Year" name="pyear[]">
            <span id="alertyear1" style="display: none; color: red;">Passing year </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Percentage">Percentage :</label>
            <input type="text" name="percentage[]" id="Percentage">
            <span id="alertpercent" style="display: none; color: red;">Percentage </span>
            <hr>
            <h5>HSC/Diploma Result</h5>
            <label for="Name of Board">Name of Board :</label>
            <input type="text" id="Name of Board" name="board[]">
            <span id="alertboardhsc" style="display: none; color: red;">Board name </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Passing Year">Passing Year :</label>
            <input type="text" id="Passing Year" name="pyear[]">
            <span id="alertyearnew" style="display: none; color: red;">Passing year </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Percentage">Percentage :</label>
            <input type="text" name="percentage[]" id="Percentage">
            <span id="alertpercentnew" style="display: none; color: red;">Percentage </span>
            <hr>

            <h5>Bachelor Degree</h5>
            <label for="Course Name">Course Name :</label>
            <input type="text" id="Course Name" name="board[]">
            <span id="alertcourse" style="display: none; color: red;">Course Required</span>
            <!-- &nbsp;&nbsp;
<label for="University">University :</label>
<input type="text" id="University" name="university">
<span id="alertuni" style="display: none; color: red;">University Required</span> -->
            &nbsp;&nbsp;
            <label for="Passing Year">Passing Year :</label>
            <input type="text" id="Passing Year" name="pyear[]">
            <span id="alertpass" style="display: none; color: red;">Passing Year Required</span>
            &nbsp;&nbsp;
            <label for="Percentage">Percentage :</label>
            <input type="text" name="percentage[]" id="Percentage">
            <span id="alertperbh" style="display: none; color: red;">Percentage Required</span>

            <hr>

            <h5>Master Degree</h5>
            <label for="Course Name">Course Name :</label>
            <input type="text" id="Course Name" name="board[]">
            <span id="alertcoursemaster" style="display: none; color: red;">Course name required</span>
            &nbsp;&nbsp;
            <!-- <label for="University">University :</label>
<input type="text" id="University" name="universityms">
<span id="alertunims" style="display: none; color: red;">University Required</span>
&nbsp;&nbsp; -->
            <label for="Passing Year">Passing Year :</label>
            <input type="text" id="Passing Year" name="pyear[]">
            <span id="alertpass3" style="display: none; color: red;">Passing Year Required</span>
            &nbsp;&nbsp;
            <label for="Percentage">Percentage :</label>
            <input type="text" name="percentage[]" id="Percentage">
            <span id="alertperms" style="display: none; color: red;">Percentage Required</span>

        </fieldset>
        <br>
        <input type="button" value="Previous" class="btn" onclick="showForm(1)">
        <input type="button" value="Next" class="btn" onclick="showForm(3)">


        <br>
    </form>

    <form id="form3" method="post" name="application3" action="/" onsubmit="return validate3()" class="form-group">

        <fieldset>
            <legend><b>Work Experience</b></legend>
            <label for="Company Name">Company Name :</label>
            <input type="text" name="CompanyName" id="Company Name">
            <span id="alertcomp" style="display: none; color: red;">Company Required</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Designation">Designation :</label>
            <input type="text" name="designation" id="Designation">
            <span id="alertdesignation" style="display: none; color: red;">Designation Required</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Joining Date">Joining Date:</label>
            <input type="date" id="Joining Date" name="joiningDate">
            <span id="alertjoindate" style="display: none; color: red;">Joining Date Required</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Ending Date">Ending Date:</label>
            <input type="date" id="Ending Date" name="endingDate">
            <span id="alertenddate" style="display: none; color: red;">Ending Date Required</span>
            <br><br>
            <label for="Company Name">Company Name :</label>
            <input type="text" name="Company Name" id="Company Name">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Designation">Designation :</label>
            <input type="text" name="Designation" id="Designation">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Joining Date">Joining Date:</label>
            <input type="date" id="Joining Date" name="Joining Date">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Ending Date">Ending Date:</label>
            <input type="date" id="Ending Date" name="Ending Date"><br><br>
            <label for="Company Name">Company Name :</label>
            <input type="text" name="Company Name" id="Company Name">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Designation">Designation :</label>
            <input type="text" name="Designation" id="Designation">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Joining Date">Joining Date:</label>
            <input type="date" id="Joining Date" name="Joining Date">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Ending Date">Ending Date:</label>
            <input type="date" id="Ending Date" name="Ending Date"><br>


        </fieldset>
        <br>

        <input type="button" value="Previous" class="btn" onclick="showForm(2)">
        <input type="submit" value="Submit" class="btn">
        <input type="button" value="Update" id="update" class="btn">

        <br>
    </form>

    <script>
        function showForm(forNumber) {
            var forms = document.querySelectorAll('.form-group');
            forms.forEach(form => form.classList.remove('active'));

            var selectedForm = document.getElementById('form' + forNumber);
            selectedForm.classList.add('active');
        }

        function validateForm() {

            let x = document.forms["job_application"]["fname"].value;
            fnameregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (fnameregex.test(x) == false) {
                document.getElementById("alertfname").style.display = "block";
                return false;
            }

            let y = document.forms["job_application"]["lname"].value;
            lnameregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (lnameregex.test(y) == false) {
                document.getElementById("alertlname").style.display = "block";
                return false;
            }

            let mail = document.forms["job_application"]["email"].value;
            emailregex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
            if (emailregex.test(mail) == false) {
                document.getElementById("alertemail").style.display = "block"
                // alert("change")
                return false;
            }

            let add1 = document.forms["job_application"]["Address1"].value;
            add1regex = /^(\d+) ?([A-Za-z](?= ))? (.*?) ([^ ]+?) ?((?<= )APT)? ?((?<= )\d*)?$/
            if (add1regex.test(add1) == false) {
                document.getElementById("alertadd1").style.display = "block"
                return false;
            }

            // let gend = document.forms["job_application"]["Gender"].value;
            // genderregex = /?:m|M|male|Male|f|F|female|Female|FEMALE|MALE|Not prefer to say)$/;
            if (document.getElementById("male").checked) {
                document.getElementById("male").value;
            }
            else if (document.getElementById("female").checked) {
                document.getElementById("female").value;
            }
            else {
                document.getElementById("alertgender").style.display = "block";
                return false;
            }
            let bday = document.forms["job_application"]["birthday"].value;
            bdayregex = /[\/\-\.]/
            if (bdayregex.test(bday) == false) {
                document.getElementById("alertbday").style.display = "block"
                return false;
            }

            let zipcode = document.forms["job_application"]["Zip Code"].value;
            zipregex = /(^\d{6}$)|(^\d{4}-\d{8}$)/
            if (zipregex.test(zipcode) == false) {
                document.getElementById("alertzip").style.display = "block"
                return false;
            }
        // }


        // function validate() {

            let boardssc = document.forms["job_application"]["board"].value;
            boardregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (boardregex.test(boardssc) == false) {
                document.getElementById('alertboardssc').style.display = "block";
                return false;
            }

            let yearssc = document.forms["job_application"]["pyear"].value;
            yearregex = /^\d{4}$/
            if (yearregex.test(yearssc) == false) {
                document.getElementById("alertyear1").style.display = "block"
                return false;
            }

            let per = document.forms["job_application"]["percentage"].value;
            percentregex = /^\d{2}$/
            if (percentregex.test(per) == false) {
                document.getElementById("alertpercent").style.display = "block"
                return false;
            }

            let boardhsc = document.forms["job_application"]["board"].value;
            boardregex2 = /^[a-zA-Z]+[a-zA-Z]+$/
            if (boardregex2.test(boardhsc) == false) {
                document.getElementById("alertboardhsc").style.display = "block"
                return false;
            }

            let yearnew = document.forms["job_application"]["pyear"].value;
            yearregexnew = /^\d{4}$/
            if (yearregexnew.test(yearnew) == false) {
                document.getElementById("alertyearnew").style.display = "block"
                return false;
            }

            let percentnew = document.forms["job_application"]["percentage"].value;
            percentregexn = /^\d{2}$/
            if (percentregexn.test(percentnew) == false) {
                document.getElementById("alertpercentnew").style.display = "block"
                return false;
            }

            let coursee = document.forms["job_application"]["CourseName"].value;
            courseregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (courseregex.test(coursee) == false) {
                document.getElementById("alertcourse").style.display = "block"
                return false;
            }

            let uni = document.forms["job_application"]["university"].value;
            uniregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (uniregex.test(uni) == false) {
                document.getElementById("alertuni").style.display = "block"
                return false;
            }

            let yearsecond = document.forms["job_application"]["PassingYear2"].value;
            yearregex = /^\d{4}$/
            if (yearregex.test(yearsecond) == false) {
                document.getElementById("alertpass").style.display = "block"
                return false;
            }

            let percentba = document.forms["job_application"]["percentagebh"].value;
            percentregexnew = /^\d{2}$/
            if (percentregexnew.test(percentba) == false) {
                document.getElementById("alertperbh").style.display = "block"
                return false;
            }

            let courseemaster = document.forms["job_application"]["CourseNamemaster"].value;
            courseregexmaster = /^[a-zA-Z]+[a-zA-Z]+$/
            if (courseregexmaster.test(courseemaster) == false) {
                document.getElementById("alertcoursemaster").style.display = "block"
                return false;
            }

            let unimaster = document.forms["job_application"]["universityms"].value;
            uniregexmaster = /^[a-zA-Z]+[a-zA-Z]+$/
            if (uniregexmaster.test(unimaster) == false) {
                document.getElementById("alertunims").style.display = "block"
                return false;
            }

            let yearms = document.forms["job_application"]["PassingYear3"].value;
            yearregexms = /^\d{4}$/
            if (yearregexms.test(yearms) == false) {
                document.getElementById("alertpass3").style.display = "block"
                return false;
            }

            let percentms = document.forms["job_application"]["percentagems"].value;
            percentregexms = /^\d{2}$/
            if (percentregexms.test(percentms) == false) {
                document.getElementById("alertperms").style.display = "block"
                return false;
            }

            let comp = document.forms["application3"]["CompanyName"].value;
            compregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (compregex.test(comp) == false) {
                document.getElementById("alertcomp").style.display = "block"
                return false;
            }

            let desig = document.forms["application3"]["designation"].value;
            desigregex = /^[a-zA-Z]+[a-zA-Z]+$/
            if (desigregex.test(desig) == false) {
                document.getElementById("alertdesignation").style.display = "block"
                return false;
            }

            let joinday = document.forms["application3"]["joiningDate"].value;
            joindayregex = /[\/\-\.]/
            if (joindayregex.test(joinday) == false) {
                document.getElementById("alertjoindate").style.display = "block"
                return false;
            }

            let endday = document.forms["application3"]["endingDate"].value;
            enddayregex = /[\/\-\.]/
            if (enddayregex.test(endday) == false) {
                document.getElementById("alertenddate").style.display = "block"
                return false;
            }
        }
    </script>
</body>

</html>