<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        <div>
            <form action="/search" method="post" class="f1">
                <input type="text" name="id" placeholder="Enter student id">
                <input type="submit" Value="Go">
            </form>
        </div>
                <br><br>
                <hr>

        <div class="f1">
            <input type="button" value="show more" onclick="filter()">
        </div>
        <br><br>

        <div id="filters" class="f1">
            <form action="/searchfilters" method="post">
                <input type="text" name="firstName" placeholder="Enter First Name to filter">
                <input type="text" name="lastName" placeholder="Enter Last Name to filter">
                <input type="number" name="pr" placeholder="Enter Perecntage to filter">
                <select  id="logicalops" name="type">
                    <option value="">Select Logic</option>
                    <option value="and">AND (&&)</option>
                    <option value="or">OR (||)</option>
                </select>
                <input type="submit" Value="Go">
            </form>
        </div>
    </div>
</body>
</html>