<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        table,
        th {
            /* max-width: 600px;
            max-height: 400px; */
            border: 2px solid black;
            box-shadow: 5px 5px 5px 5px rgba(2, 2, 2, 2);
            background-color: whitesmoke;
            border-collapse: collapse;
            padding: 20px;
        }

        body {
            background-color: #435165;
        }

        h2 {
            color: white;
            text-align: center;
        }

        

        a {
            color: rgb(97, 76, 192);
        }
    </style>
</head>

<body>

    <h2>Welcome to my page!!</h2>
    <br><br>
    <div class="tbl">
        <table style="margin-left: 470px;">

            <tr>
                <th>
                    <div style="display: flex; flex-direction: column; gap: 30px; ">
                        <div>
                            First time here, please: <a href="/register">Register</a>
                        </div>
                        <div>
                            You think we met before: <a href="/login">Login</a>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</body>

</html>