<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MySQL Query</title>
</head>
<body>

  <h1>MySQL Query Generator </h1>
  <form action="/query" method="post">
    <label for="query">Enter Your SQL Query:</label><br>
    <textarea name="query" id="query" rows="4" cols="50" placeholder="Query Input"></textarea><br>
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>